<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 引入vue -->
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<!--    &lt;!&ndash; 引入样式 &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />-->
<!--    &lt;!&ndash; 引入组件库 &ndash;&gt;-->
<!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->


</head>

<body>

<!--<form id="app">-->
<!--  用户名:<input type="text"  v-model = "inputValue" @keyup.enter = "sendData" placeholder="zhangsan/lisi/wangwu"> </input>-->
<!--  <br>-->
<!--</form>-->
<!--  <input type="submit" value="提交"></input>-->
<!--</form>-->
<form >

    请输入用户名:
    <div id="app">
        <input v-model="inputValue" @keyup.enter="sendData" placeholder="zhangsan/lisi/wangwu"></input>
        <button @click="sendData">提交</button>
        <br>
        <div v-if="responseData">
            <p>响应数据:{{responseData}}</p>
        </div>

    </div>

</form>


<script>
    new Vue(
        {

            el:"#app",
            data:{
                inputValue:'',
                responseData:null
            },
            methods: {
                // sendData() {
                    //axios我投降了
                    //     method = 'POST';
                    //     var url = 'http://localhost:8080/QG_war_exploded/ajax?username='+encodeURIComponent(this.inputValue);
                    //     var xhr = new XMLHttpRequest();
                    //
                    //     xhr.onreadystatechange = function(){
                    //         if(xhr.readyState===4&&xhr.status===200){
                    //             alert("成功没")
                    //             this.responseData = xhr.responseText;
                    //         }else{
                    //             alert("为什么不成功")
                    //         }
                    //     }.bind(this);
                    //     xhr.open(method, url, true);
                    //     // 发送请求
                    //     xhr.send();
                    // }
                    sendData(){

                        if (this.inputValue) {
                            axios.post('http://localhost:8080/QG_war_exploded/ajax', {data: this.inputValue})
                                .then(response => {
                                    this.responseData = response.data;
                                })
                                .catch(error => {
                                    // 打印错误信息
                                    console.error(error);
                                });
                        }

                }
            }
        }
    )
</script>
</body>
</html>